layout pyenv 3.9.13
echo "Hold back to python 3.9.13 because of nrfutil"
echo "See https://github.com/NordicSemiconductor/pc-nrfutil/issues/366"
echo "I've also hold back protobuf"
echo 'pip install protobuf==3.20.1'
